# Ignore user specific IDEA components
.idea/workspace.xml
.idea/tasks.xml
.idea/codeStyleSettings.xml

# Don't add temporary files
*~

# Maven output
/target

# Buck stuff
bucklets
.buckversion
.buckd
buck-out

# Eclipse
.classpath
.project
.settings
